:root {
  --pied-green: #007767;
  --pied-green-selection: #1a9181;
  --shadow: #666666;
  --pied-white: #fafafa;
}
body {
  background-image: url(../media/joinusbackground.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
/* Main container */
.grid-container {
  background-image: none;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}
/* Big container on top */
.intro-container {
  grid-column: span 12;
  grid-row: span 5;
}
.intro-container article {
  color: white;
  text-align: center;
  align-self: center;
  font-size: 1.5em;
  width: 80%;
}
.intro-container h1 {
  color: white;
  text-align: center;
  align-self: center;
  font-size: 1.5em;
}
.intro-container p {
  margin: 1em;
}
/* Bottom container with extra info */
.short-container {
  display: flex;
  grid-column: span 9;
  grid-row: span 8;
  flex-flow: column;
}
.short-container .short-texts-header {
  align-self: center;
  text-align: center;
  background-color: var(--pied-white);
  width: 100%;
}
.short-container .short-texts-header p {
  font-size: 1.3em;
}
/* Container for the form */
.form-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  max-height: 100%;
  overflow: auto;
  width: 100%;
  align-self: center;
  margin: 0em 0em 0em 0em;
}
.form-container form {
  display: flex;
  flex-flow: column;
  padding: 2em;
  margin: 0;
  width: 60%;
  height: 100%;
  align-self: center;
  border: none;
}
.form-container fieldset {
  width: 70%;
  align-self: center;
}
.form-container ul {
  list-style: none;
  padding: 0;
}
/* Russ Hanneman's slider goes 100% all the time */
#russexcuse {
  color: var(--shadow);
  text-align: center;
}
.button-holder {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  width: 30%;
  margin-top: 1em;
}
.button-holder button {
  font-size: 1em;
}
.form-container .content legend img {
  padding: 0;
  margin: 0;
  box-shadow: 0em 0em 0.3em var(--shadow);
}
.form-container .content .content-text {
  text-align: justify;
  font-size: 1.2em;
}
/* Menu items on the side */
.bookmarks {
  background-color: var(--pied-white);
  flex-flow: column;
  grid-column: span 3;
  grid-row: span 8;
}
/* Desktop menu - enabled as default*/
#desktop-bookmarks {
  display: flex;
}
/* Mobile menu - disabled as default */
#mobile-bookmarks {
  display: none;
}
.bookmarks .bookmarks-header {
  text-align: center;
  background-color: var(--pied-white);
  width: 100%;
}
.bookmarks .bookmarks-header p {
  font-size: 1.3em;
}
.bookmarks .bookmarks-list {
  font-size: 1em;
  align-self: center;
  width: 100%;
  padding: 2em;
  text-align: justify;
}
.bookmarks .bookmarks-list ul {
  font-size: 1em;
  padding: 0;
}
.bookmarks .bookmarks-list li {
  list-style: none;
  padding: 1em 0em 1em 0em;
  margin: 0em 1em 0em 1em;
  border-bottom: 1px solid var(--shadow);
  text-align: center;
}
.bookmarks .bookmarks-list li a {
  color: black;
  transition: text-shadow 0.3s;
}
.bookmarks .bookmarks-list li a:hover {
  text-shadow: 0px 0px 0.1em var(--shadow);
}
.bookmarks .bookmarks-list li:last-of-type {
  padding: 1em 0em 1em 0em;
  border: none;
}
/* Gilfoyle sucks */
#hidden {
  opacity: 0;
  transition: opacity 1s;
}
#hidden:hover {
  opacity: 1;
}
#introvideo {
  border-radius: 0.3em;
}
/* Animation to reveal Dinesh's message. I did notice. Baboon. - Gilfoyle */
@keyframes reveal {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
/* Site doesn't scale too well at 1280px width so we add a breakpoint */
@media (max-width: 1280px) {
  .short-texts-container {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
/* Here we start optimizing for real. Now previously unwrapped items are wrapped so they scale nicer */
@media (max-width: 1200px) {
  .short-texts-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
/* This is already mobile view, so  */
/* The grid container scales better (but needs a bit more "optimisation" to make it look good) if we put it on auto. */
@media (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template: repeat(12, auto) / repeat(12, 1fr);
  }
  .short-texts-container {
    flex-wrap: wrap;
    width: 100%;
  }
  header p {
    font-size: 0.8em;
  }
  .intro-container {
    grid-column: span 12;
    grid-row: span 2;
  }
  .short-container {
    grid-column: span 12;
    grid-row: span 8;
  }
  .intro-container article {
    width: 100%;
  }
  .bookmarks {
    grid-column: span 12;
    grid-row: span 1;
    border-radius: 0;
    box-shadow: none;
  }
  .bookmarks .bookmarks-list {
    border-radius: 0;
    box-shadow: none;
  }
  #desktop-bookmarks {
    display: none;
  }
  #mobile-bookmarks {
    display: flex;
  }
}
/* Smaller devices, almost the same but now the content fills the screen's width*/
@media (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template: repeat(12, auto) / repeat(12, 1fr);
  }
  .short-texts-container {
    flex-wrap: wrap;
    width: 100%;
  }
  header p {
    font-size: 0.8em;
  }
  .intro-container {
    grid-column: span 12;
    grid-row: span 2;
  }
  .short-container {
    grid-column: span 12;
    grid-row: span 8;
  }
  .intro-container article {
    width: 100%;
  }
  .bookmarks {
    grid-column: span 12;
    grid-row: span 1;
    border-radius: 0;
    box-shadow: none;
  }
  .bookmarks .bookmarks-list {
    border-radius: 0;
    box-shadow: none;
  }
  #desktop-bookmarks {
    display: none;
  }
  #mobile-bookmarks {
    display: flex;
  }
  .form-container form {
    width: 100%;
  }
}
/* iPhone 5 and below (too narrow dang it) */
@media (max-width: 599px) {
  .short-texts-container {
    flex-wrap: wrap;
    width: 100%;
  }
  header p {
    font-size: 0.6em;
  }
  .intro-container {
    grid-column: span 12;
    grid-row: span 3;
  }
  .short-container {
    grid-column: span 12;
    grid-row: span 9;
  }
  .short-texts-container .content {
    width: 19em;
  }
}
